<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top img-thumbnail img-fluid" [src]="tomatoimagepath" alt="Tomato Clock">
            <div class="card-block">
                <h4 class="card-title">Tomato Clock - Pomodor</h4>
                <p class="card-text">A pomodoro clock to help on your daily routine.</p>
                <a href="http://tomato.rafakr.cf" class="btn btn-primary" target="_blank">Tomato</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        </div>
    <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top img-thumbnail img-fluid" [src]="makeitinyimagepath" alt="makeItIny">
            <div class="card-block">
                <h4 class="card-title">makeItIny - Url Shortener</h4>
                <p class="card-text">A url shortener to send those big facebook links to your buddies.</p>
                <a href="http://tiny.rafakr.cf" class="btn btn-primary" target="_blank">makeItIny</a>
            </div>
        </div>
    </div>
</div>